{% extends "AppCoder/padre.html" %}

{% load static %}

{% block title %}

<title>Estudiantes AppCoder</title>

{% endblock %}
{% block Cartel %}

<h1>Estudiantes</h1>
<h2>Actualizacion de datos</h2>

{% endblock %}
{% block ContenidoVariable %}
<center>
    <form action="{% url 'editarEstudiante' estudiante_nombre %}" method="POST">{% csrf_token %}
        
        <table>
        
            {{miFormulario.as_table}}
        
        </table>
        
        
        <input type="submit" value="Actualizar">
    </form>
</center>
    {% endblock %}