{% extends "AppCoder/padre.html" %}

{% load static %}

{% block title %}

<title>Entregables AppCoder</title>

{% endblock %}
{% block Cartel %}

<h1>Restultado de su busqueda</h1>

{% endblock %}
{% block ContenidoVariable %}

{% if entregables %}
<h2>Estos son los resultados de su busqueda:</h2>
<br><br>
<ul>    
{% for entregable in entregables %}
<h3>
    <li>{{entregable.nombre}}</li>
    <li>{{entregable.apellido}}</li>
    
</h3>
{% endfor %}    
</ul>
{% else %}
<center>
<h3>El entregable no se encuentra en la base de datos.</h3>
</center>
{% endif %}    
{% endblock %}
