{% extends "AppCoder/padre.html" %}

{% load static %}

{% block title %}

<title>Profesores AppCoder</title>

{% endblock %}
{% block Cartel %}

<h1>Profesores</h1>

{% endblock %}
{% block ContenidoVariable %}
<h3>Listado de profesores vigente:</h3>
{% for profesor in profesores %}
<li><b>Nombre:</b><br>  {{profesor.nombre}} <br> <b>Apellido:</b><br>   {{profesor.apellido}} </li>

<button>
        
    <a href="{% url 'eliminarProfesor' profesor.nombre %}">Eliminar profesor</a>
    
</button>
<button>

    <a href="{% url 'editarProfesor' profesor.nombre %}">Editar profesor</a>
    
</button>
<br><br>
{% endfor %}
    
{% endblock %}
