{% extends "AppCoder/padre.html" %}

{% load static %}

{% block title %}

<title>Cursos AppCoder</title>

{% endblock %}
{% block Cartel %}

<h1>Cursos</h1>

{% endblock %}
{% block ContenidoVariable %}
<h3>Listado de cursos vigentes:</h3>
{% for curso in lista_cursos %}
<h4>
<li>
    <b>
        {{curso.nombre}} <br>
        {{curso.comision}}
    </b> 
    <br><br>
</li>
</h4>
{% endfor %}
<center>
    <h2><a href="/AppCoder/cursoFormulario/">Alta de cursos</a></h2>
    <h2><a href="/AppCoder/BusquedaDeComision/">Buscar un curso</a></h2>
</center>
    
{% endblock %}
