{% extends "AppCoder/padre.html" %}

{% load static %}

{% block title %}

<title>Estudiantes AppCoder</title>

{% endblock %}
{% block Cartel %}

<h1>Estudiantes</h1>

{% endblock %}
{% block ContenidoVariable %}


<center>
    <h2><a href="../FormularioEstudiante">Formulario de inscripcion</a></h2>
    <h2><a href="/AppCoder/buscarEstudiante/">Buscar un estudiante</a></h2>
</center>        


<h3>Listado de estudiantes vigente:</h3>
{% for estudiante in estudiantes %}
<li><b>Nombre:</b><br>  {{estudiante.nombre}} <br> <b>Apellido:</b><br>   {{estudiante.apellido}} </li>

<button>
        
    <a href="{% url 'eliminarEstudiante' estudiante.nombre %}">Eliminar estudiante</a>
    
</button>
<button>

    <a href="{% url 'editarEstudiante' estudiante.nombre %}">Editar estudiante</a>
    
</button>

<br><br>
{% endfor %}

{% endblock %}